@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2") format("woff2"),
       url("../fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
       url("../fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"),
       url("../fonts/Inter-BlackItalic.woff") format("woff");
}

.App {
  font-family: 'Inter';
  position: relative;
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  padding: 0;
}

.ml {
  margin: 4.625rem 22rem 0 7.5rem;
}

.wrapper {
  margin: 0 2.25rem 0 4.625rem;
}

.box {
  height: 126px;
  margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 4.125rem;
    /* width: 95%; */
    background: #FFFFFF;
    box-shadow: 0 2px 40px 6px #e7effd5c;
    /* border-radius: 9px; */
}
.box__left {
  width: 70%;
  height: 100%;
  float: left;
}

.box__right {
  width: 30%;
  height: 100%;
  float: right;
}

.blue {
  background-color: #1051F6;
}

.blue-light {
  background-color: #0044E9;
}

.btn {

  display: inline-block; 
  outline: none;
  overflow: hidden;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;

  padding: 0 1.25em;
  border-width: 1px;
  border-style: solid;
  border-color: #E3E3E7;
  border-radius: .25em;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  
  color: #000;
  background-color: #ffffff;
  transition: all .2s ease-in-out;

  
}

.btn:hover {
  text-decoration: none;
  background: #f6f6f7;
}

.btn:active {
  background: #E3E3E7;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black {
  border-color: #000;
}

.b--transparent {
  border-color: transparent;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.b {
  font-weight: bold;
}

.fw6 {
  font-weight: 600;
}

.input-reset {
  -webkit-appearance: none;
     -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lh-copy {
  line-height: 1.5;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.w-100 {
  width: 100%;
}

.black-80 {
  color: rgba(0, 0, 0, .8);
}

.black {
  color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.hover-white:hover {
  color: #fff;
}

.hover-white:focus {
  color: #fff;
}

.hover-bg-black:hover {
  background-color: #000;
}

.hover-bg-black:focus {
  background-color: #000;
}

.pa0 {
  padding: 0;
}

.pa2 {
  padding: .5rem;
}

.pa4 {
  padding: 2rem;
}

.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ma0 {
  margin: 0;
}

.mt3 {
  margin-top: 1rem;
}

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mh0 {
  margin-left: 0;
  margin-right: 0;
}

.f4 {
  font-size: 1.25rem;
}

.f6 {
  font-size: .875rem;
}

.measure {
  max-width: 30em;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.9);
}

.pointer:hover {
  cursor: pointer;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black-10 {
  border-color: rgba(0, 0, 0, .1);
}

.br2 {
  border-radius: .25rem;
}

.br--top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.db {
  display: block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

.lh-copy {
  line-height: 1.5;
}

.mw5 {
  max-width: 16rem;
}

.w-100 {
  width: 100%;
}

.dark-gray {
  color: #333;
}

.mid-gray {
  color: #555;
}

.pa2 {
  padding: .5rem;
}

.mt1 {
  margin-top: .25rem;
}

.mt2 {
  margin-top: .5rem;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tr {
  text-align: right;
}

.f5 {
  font-size: 1rem;
}

.f6 {
  font-size: .875rem;
}

.measure {
  max-width: 30em;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 30em) {
  .pb3-ns {
      padding-bottom: 1rem;
  }

  .ph3-ns {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .f4-ns {
      font-size: 1.25rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .w-50-m {
      width: 50%;
  }
}

@media screen and (max-width: 60em) {
  .ml {
    margin: 4.625rem 2rem 0 ;
  }
  
  .wrapper {
    margin: 0 ;
  }
}

@media screen and (min-width: 60em) {
  .w-25-l {
      width: 25%;
  }
}

.middle {
  transform: translate(0, 50%);
}