.tree{
	list-style: none;
	padding: 0 .8rem 0 1.875rem;
    position: relative;
	transition: padding-left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	overflow-y: scroll;
	height: 260px;
}
.tree:before{ 
	/* content: '';
	width: 1px;
	background: black;
	top: 0;
	bottom:7px;
	left:0;
	position: absolute; */
}

.tree .tree{
    display: none;
}

.tree>.branch:first-child {
    padding-top: .75rem;
}

.tree>.branch:not(:first-child) {
    padding-top: 3.375rem;
}
