.branch { 
    height:auto;

    /* overflow: hidden; */
	/* position: absolute; */
    /* margin-top:10px; */
    list-style: none;
    /* background-color: aqua; */
	/* padding-left: 20px; */
    transition: all 4s ease-in-out;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    font-weight: 500;
    
}

.leaf {
    margin-top: 0;
    padding-left: 1.5em;
}

.npadl {
    padding-left: 0;
}

.leaf>.checkbox:first-child {
    color: blue;
    padding-top: 1.5rem;
}

.leaf>.checkbox:not(:first-child) {
    padding-top: .8rem;
}

.leaf>.checkbox:last-child {
    color: rgb(0, 255, 34);
    margin-bottom: 1.5rem;
}

.branch__text:hover, 
.branch__text:focus{
	color: green;
	cursor: pointer;
} 


.closed {
    max-height: 0px;
    transition: max-height 4s ease-in-out;
    /* overflow: hidden; */
    /* animation: 4s delay-overflow; */
    
}

.hidden {
    overflow: hidden;
}

